$base-color: #000000;
$blue-color: #3e9cdc;
$white-color: #ffffff;

.Color__primary {
  color: $base-color;
}

.Color__blue {
  color: $blue-color;
}

.Color__white {
  color: $white-color;
}

.Hero {
  position: relative;
}

.Hero__content {
  padding-top: 203px;
  padding-bottom: 190px;
  position: relative;
  z-index: 2;
}

.Hero__title {
  max-width: 780px;
  text-transform: uppercase;
}

.Hero__title_mobile {
  display: none;
}

.Hero__list {
  margin-top: 80px;
  li {
    margin-left: 10px;
    margin-top: 5px;
  }
}

.Hero__list_title {
  padding-bottom: 5px;
}

.Hero__buttonsContainer {
  display: flex;
  margin-top: 80px;

  button {
    width: 183px;
  }

  button:not(:first-child) {
    margin-left: 30px;
  }
}

.Hero__secondButton {
  background: #ffffff;
  color: $base-color;
  box-shadow: inset 0 0 0 1px #6f6d7b;
}

.Hero__image {
  position: absolute;
  top: 0;
  width: 100%;
  height: -webkit-fill-available;
  z-index: 0;
  object-position: right;
  object-fit: cover;
}

.Hero__background {
  display: none;
  background-color: rgba(0, 0, 0, 0.6);
  position: absolute;
  top: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
}

@media (max-width: 1440px) {
  .Hero__content {
    padding-top: 168px;
    padding-bottom: 112px;
  }

  .Hero__title {
    max-width: 586px;
  }

  .Hero__list {
    margin-top: 56px;
  }

  .Hero__buttonsContainer {
    margin-top: 56px;
  }
}

@media (max-width: 992px) {
  .Hero {
    color: $white-color;
  }

  .Hero__title {
    display: none;
  }

  .Hero__title_mobile {
    display: block;
    font-weight: 700;
    font-size: 36px;
    line-height: 48px;
    text-transform: uppercase;
  }

  .Hero__background {
    display: block;
  }
}

@media (max-width: 576px) {
  .Hero__content {
    padding-bottom: 48px;
  }

  .Hero__title_mobile {
    font-size: 32px;
    line-height: 44px;
  }

  .Hero__list,
  .Hero__buttonsContainer {
    margin-top: 32px;

    button {
      padding: 8px 8px;
    }

    button:not(:first-child) {
      margin-left: 20px;
    }
  }

  .Hero__list {
    li {
      font-size: 16px;
      line-height: 20px;
    }
  }

  .Hero__list_title {
    font-size: 18px;
    line-height: 22px;
  }
}
