$base-color: #000000;
$blue-color: #3e9cdc;
$white-color: #ffffff;
$grey-color: #bbbbbb;

.Color__primary {
  color: $base-color;
}

.Color__blue {
  color: $blue-color;
}

.Color__white {
  color: $white-color;
}

.Order {
  position: relative;
  padding-top: 120px;
  padding-bottom: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #272733;
}

.Order__head,
.Order__form {
  position: relative;
  z-index: 1;
}

.test {
  position: relative;
}

.Order__background {
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 0;
  object-position: center;
  object-fit: cover;
}

@media (max-width: 992px) {
  .Order {
    padding-top: 96px;
    padding-bottom: 112px;
  }
}

@media (max-width: 576px) {
  .Order {
    padding-top: 64px;
    padding-bottom: 64px;
  }
}
