.Header__menu {
  display: flex;

  a {
    text-transform: uppercase;
  }

  a:hover {
    color: #43abf0;
  }

  a:not(:first-child) {
    margin-left: 60px;
  }
}

.Header__menuMobile {
  position: absolute;
  top: 104px;
  right: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 32px;
  background: #fff;
  text-transform: uppercase;

  nav {
    display: flex;
    flex-direction: column;
    padding-left: 32px;
    padding-right: 32px;

    a:not(:first-child) {
      margin-top: 16px;
    }

    a:hover {
      color: #43abf0;
    }
  }
}

.Header__button {
  background-color: transparent;
  cursor: pointer;
  border: none;
  padding: 0;
  height: 32px;
}

@media (max-width: 1200px) {
  .Header__menu {
    a:not(:first-child) {
      margin-left: 30px;
    }
  }
}

@media (max-width: 768px) {
  .Header__menuMobile {
    top: 83px;
  }
}
