.OrderForm {
  position: relative;
  z-index: 1;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(370px, 1fr));

  grid-gap: 30px;

  margin-top: 80px;
}

.OrderForm__selectContainer {
  position: relative;
  background: rgba(255, 255, 255, 0.85);
  border-radius: 3px;
}

.OrderForm__selectActive {
  padding: 0;
  background: rgba(61, 64, 80, 0.85);
  border-radius: 3px 3px 0px 0px;
  border: none;
  color: #fff;
}

.OrderForm__selectLabel {
  display: flex;
  justify-content: space-between;
}

.test {
  border: 1px solid red;
  padding: 0 10px;
}

.OrderForm__inputContainer {
  position: relative;
}

.OrderForm__inputContainer_label {
  position: absolute;
  top: 0;
  left: 0;
}

.OrderForm__input {
  width: 100%;
  padding: 10px;
  background: rgba(255, 255, 255, 0.85);
  border-radius: 3px;
  border: 1px solid #ffffff;
}

.OrderForm__input:hover {
  border: 1px solid #3e9cdc;
}

.OrderForm__input::placeholder {
  color: #272733;
  font-size: 18px;
  line-height: 21.6px;
  font-size: 18px;
  line-height: 21.6px;
}

.OrderForm__input:focus {
  outline: none;
  border: 1px solid #3e9cdc;
}

.OrderForm__input:focus::placeholder {
  opacity: 0;
}

.OrderForm__rangeInput {
  grid-column-start: 1;
  grid-column-end: 3;

  input[type="range"] {
    overflow: hidden;
    -webkit-appearance: none;
    background-color: rgba(255, 255, 255, 0.7);
    border: 1px solid #ffffff;
    overflow: visible;
    border-radius: 8px;
  }

  input[type="range"]::-webkit-slider-runnable-track {
    height: 6px;
    -webkit-appearance: none;
  }

  input[type="range"]::-webkit-slider-thumb {
    position: relative;
    top: -8px;
    width: 23px;
    height: 23px;
    -webkit-appearance: none;
    cursor: ew-resize;
    background: #42a9ed;
    border-radius: 50%;
    border: 3px solid #286690;
  }
}

.OrderForm__rangeInput_range {
  width: 100%;
  margin-top: 10px;
}

.OrderSlider__head {
  display: flex;
  justify-content: space-between;
}

.OrderForm__addFileButton {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 3px;
  box-shadow: 0px 0px 0px 2px #3e9cdc;
  cursor: pointer;
  padding: 12px;

  span {
    margin-left: 10px;
  }
}

.OrderForm__addFileButton:hover {
  box-shadow: 0px 0px 0px 2px #e1eefd;
}

.OrderForm__pushButton {
  grid-column-start: 2;
}

@media (max-width: 850px) {
  .OrderForm {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 20px;
    margin-top: 40px;
  }
}

@media (max-width: 576px) {
  .OrderForm {
    display: flex;
    flex-direction: column;
  }
}
