$base-color: #000000;
$blue-color: #3e9cdc;
$white-color: #ffffff;
$grey-color: #bbbbbb;

.Color__primary {
  color: $base-color;
}

.Color__blue {
  color: $blue-color;
}

.Color__white {
  color: $white-color;
}

.OrderHead {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.OrderHead__title {
  text-transform: uppercase;
  color: $white-color;
  font-weight: 800;
  font-size: 36px;
  line-height: 43.2px;

  span {
    color: $blue-color;
  }
}

.OrderHead__subTitle {
  margin-top: 30px;
  color: $grey-color;
  font-size: 18;
  line-height: 21.6px;
}

.OrderHead__iconsList {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  margin-left: -30px;

  li {
    margin-top: 30px;
    margin-left: 30px;
  }

  li {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: calc(20% - 30px);
    min-width: 112px;
    color: $white-color;

    svg {
      width: 100px;
      flex-shrink: 0;
    }

    p {
      text-align: center;
      margin-top: 20px;
      word-break: break-word;
    }
  }
}

@media (max-width: 992px) {
  .OrderHead__iconsList {
    li {
      svg {
        width: 56px;
      }
    }
  }
}

@media (max-width: 768px) {
  .OrderHead__iconsList {
    flex-wrap: wrap;
  }
}
