.Header {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100%;
  padding-top: 33px;
  padding-bottom: 32px;
  background: rgba(16, 16, 29, 0.9);
}

.Header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.Header__logo {
  width: 247px;
}

.Header__navigationMobile {
  display: none;
}

@media (max-width: 992px) {
  .Header__navigation {
    display: none;
  }

  .Header__navigationMobile {
    display: block;
  }
}

@media (max-width: 768px) {
  .Header {
    padding-top: 23px;
    padding-bottom: 22px;
  }

  .Header__logo {
    width: 200px;
  }
}

@media (max-width: 576px) {
  .Header__logo {
    width: 146px;
  }
}
